doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Quotster
    link(rel="stylesheet", href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css")

  body(style="margin-top: 2rem; background-color: #f9f9f9")
    main.container
      div.card-columns

        form.card.card-block(method="POST")
          fieldset.form-group
            label.sr-only(for="quote") Quote
            textarea#quote.form-control(name="quote", placeholder="quote", rows=3)
          fieldset.form-group
            label.sr-only(for="author") Author
            input#author.form-control.text-xs-right(type="text", name="author", placeholder="author")
          button.btn.btn-sm.btn-primary.pull-xs-right(type="submit") Add quote

        each quote in locals
          div.card.card-block
            form.pull-xs-right(method="POST", style="margin: -1rem -0.5rem 0 0")
              input(type="hidden", name="_method", value="DELETE")
              button.btn.close(type="submit", name="id", value=quote.id, title="Delete quote") &times;
            blockquote.card-blockquote
              p= quote.quote
              footer.text-muted.text-xs-right
                | &mdash;&nbsp;
                = quote.author

      p.text-xs-center.text-muted(style="margin-top: 2rem") Quotster &middot; Colin Orr &copy; 2016
